.video__data {
  padding: 20px 10px;
  border-radius: 10px;
  margin-top: 20px;
  .video__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .video__createdAt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .video__owner {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comment-form {
  display: flex;
  width: 94%;
  height: 34px;
  .video__comment-form__btn {
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .video__comment-form__text {
    padding-top: 9px;
    padding-left: 10px;
    width: 1000px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
  }
}
.video__comment {
  display: flex;
  width: 83%;
  margin: 10px 10px 10px 95px;
  padding: 10px 20px;
  border-radius: 9999px;
  background-color: white;
  color: black;
  .video__comment__text {
    margin: 0 30px 0 15px;
  }
}
#delete__comment:hover {
  cursor: pointer;
}
