extends base.pug

block content
    if eroorMessage
        span=errorMessage
    form(method="post")
        input(placeholder="Title", requred, type="text", name="title")
        input(placeholder="Description", requred, type="text", name="description")
        input(placeholder="Hashtags, separated by comma.", requred, type="text", name="hashtags")
        input(type="submit", value="Upload Video")